body {
    background-color: rgb(230, 0, 0);
}

table {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    color: rgb(255, 255, 255);
    padding-left: 25px;
}

.navbar {
    background-color: rgb(111, 228, 95);
}

.d-flex {
    padding-right: 25px;
}

* {
    box-sizing: border-box;
}

.formEvaluation {
    width: 95%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: rgb(196, 196, 196);
}

.preguntas label {
    outline: 0;
    padding: 15px;
    padding-top: 25px;
}

.preguntas select {
    outline: 0;
    background: #fffefe;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.preguntas input {
    outline: 0;
    background: #fffefe;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-sizing: border-box;
    font-size: 14px;
}

.preguntas {
    padding-left: 100px;
    padding-right: 60px;
    background: #eee7e7bb;
    padding-bottom: 25px;
}

h2 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

@media(min-width:760px) {
    .formEvaluation {
        margin: auto;
        width: 950px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 2%;
    }
}